Thumbs.db
*.PDM
*.scc
*.dat
*.fdb
*.mdb
*.nfo
*.bak
*.aspr*
*.hlp
*.chm
*.lnk
*.log
*.bin
*.db
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.txt
*.dll
*.ocx
*.tlb
*.tmp
*.oca
*.iss
*.ddf
*.bat
*.lst
*.rar
*.zip
*.obj
*.pdb
*.user
*.aps
*.pch
*.pdf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/